

.box {
	position: relative;
	top: 0;
	opacity: 1;
	float: left;
	padding: 60px 50px 40px 50px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 5;
	max-width: 330px;
}
label{
  position: relative;
}
button{
  margin-bottom: 30px;
   margin-left: 30px;
}
.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
  .page-name {
    margin-top: 100px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-left: 40px;
    display: flex;
     /* align-items: center; */
    height: 10px;
  }

  .custom-input {
    width: 90%;
    margin-top: 20px;
    padding: 12px;
    border: 2.2px solid #eff0f2;
    border-radius: 10px;
    background-color: white;
    align-items: flex-start;
  }
  

  .attenchment{
    padding-top: 10px;
    align-items: flex-end;
  }
  .errors{
    color: red;
    font-size: smaller;
    text-align: left;
    margin-left: 20px;
  }