.register-container {
  /* background-position: center; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* padding-right: 10px; */
  /* padding-left: 10px; */
}
.custom-btn{
  margin-right: 45px;
}
#lable{
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-weight: 800;
}
.login-card{
  margin-top: 40px;
  width: 400px;
  height: 550px;
 align-items: unset;
 border-radius: 10px;
}
.btn-container{
   margin-top: 30px;
   align-items: auto;
   padding-left: 120px;
}
.btn{
   padding-left: 5px;
}
.body-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
    text-align: center;
  }
  .page-name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
     /* align-items: center; */
    height: 10px;
  }

  .custom-input {
    width: 80%;
    margin-top: 20px;
    padding: 12px;
    border: 2.2px solid #eff0f2;
    border-radius: 10px;
    background-color: white;
    align-items: flex-start;
  }
  

  .attenchment{
    padding-top: 10px;
    align-items: flex-end;
  }
  .errors{
    color: red;
    font-size: smaller;
    text-align: left;
    margin-left: 20px;
  }